<form [formGroup]="resetForm" (ngSubmit)="sendResetPasswordLink(resetForm.value)">
  <h3>Submit your email and we will you send you a link to reset your password</h3>
    <mat-form-field appearance="outline" class="full">
      <mat-label>email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button class="action-button full" type="submit" [disabled]="resetForm.invalid">Send Reset Email</button>
  </form>
  <br/>
    <span class="error">{{errorMessage}}</span>