.feature-image {
    padding: 0 !important;
}

.example-image {
    max-width: 800px;
}

::ng-deep.mat-tab-label {
    width: 33%;
}

@media only screen and (max-width: 900px) {
    .price-card {
        min-width: 90% !important;
    }
    .price-block {
        flex-wrap: wrap !important;
    }
}
