<mat-sidenav-container class="portal-container">
    <mat-sidenav #sidenav position="end" class="my-side-nav-right" [opened]="screenWidth > 960" [mode]="(screenWidth > 960) ? 'side' : 'over'">
        <app-question-container class="" [questions]="questions" [liveQuestion]="liveQuestion" [survOneTime]="survOneTime"></app-question-container>
    </mat-sidenav>
    <div *ngIf="auth.userUid == host" [ngStyle]="{'display' : (screenWidth > 960) ? 'none' : 'block'}">
      <div class="side-menu-button" (click)="sidenav.open()"><mat-icon>menu</mat-icon>Questions</div>
    </div>
    <div class="container head-room thin-sides" *ngIf="surv">
        <h2>{{surv.title}}</h2>
        <h5>Active Participants: {{userCount}}</h5>
        <div *ngIf="auth.userUid == host" class="vibe-block flex full">
            <div style="display: block;" *ngIf="userCount > 0 && vibeChartData.length > 0" class="three-fourths">
                <canvas baseChart 
                  [datasets]="vibeChartData"
                  [labels]="lineChartLabels"
                  [legend]="barChartLegend"
                  [colors]="lineChartColors"
                  [options]="lineChartOptions"
                  [chartType]="lineChartType">
                </canvas>
            </div>
            <div class="fourth center">
              <h2 class="no-margin">Vibe</h2>
              <div class="vibe-number" [ngClass]="{green: surv.combinedRating > 0, red: surv.combinedRating < 0}">{{surv.combinedRating / userCount}}</div>
            </div>
        </div>
      
        <div *ngIf="auth.userUid != host">
          <mat-slider min="-5" max="5" step="1" value="0" tickInterval="1" (change)="sendRatingUpdate($event)"></mat-slider>
        </div>
      
        <br/>
        
      
        <div *ngIf="liveQuestion" id="liveQuestion" class="full">
            <button mat-icon-button type="button" (click)="removeLiveQuestion()" aria-label="close" class="stick-top-right-relative">
                <mat-icon>close</mat-icon>
            </button>
          <h3>{{liveQuestion.question}}</h3>
            <form *ngIf="liveQuestion.type == 'openText'" [formGroup]="userQuestionForm" (ngSubmit)="submitUserOpenTextAnswer(userQuestionForm.value)">
                <mat-form-field appearance="outline" class="full">
                  <mat-label>Response</mat-label>
                  <input matInput formControlName="response">
                </mat-form-field>
                <button mat-raised-button class="action-button full" type="submit" [disabled]="userQuestionForm.invalid || answerSubmitted ||auth.userUid == host">
                  <div *ngIf="!answerSubmitted">Submit</div>
                  <div *ngIf="answerSubmitted">Answer Submitted</div>
                </button>
            </form>
      
            <form *ngIf="liveQuestion.type == 'multiChoice' && !liveQuestion.multiSelect" [formGroup]="userChoiceQuestionForm" (ngSubmit)="submitUserMultiChoiceAnswer(userChoiceQuestionForm.value)">
              <mat-radio-group formControlName="options">
                <div  *ngFor="let op of liveQuestion.options">
                    <mat-radio-button [value]="op">{{op}}</mat-radio-button><br/>
                </div>
              </mat-radio-group><br/>
              <button mat-raised-button class="action-button full" type="submit" [disabled]="userChoiceQuestionForm.invalid || answerSubmitted ||auth.userUid == host">
                <div *ngIf="!answerSubmitted">Submit</div>
                <div *ngIf="answerSubmitted">Answer Submitted</div>
              </button>
            </form>
      
            <form *ngIf="liveQuestion.type == 'multiChoice' && liveQuestion.multiSelect" [formGroup]="userChoiceMultiQuestionForm" (ngSubmit)="submitUserMultiChoiceMultiAnswer(userChoiceMultiQuestionForm.value)">
              <div formArrayName="choices">
                <div *ngFor="let op of liveQuestion.options; let i=index">
                  <mat-checkbox [formControlName]="i" (change)="noItemSelected()">{{op}}</mat-checkbox>
                </div>
              </div><br/>
              <button mat-raised-button class="action-button full" type="submit" [disabled]="!pickedAnOption || answerSubmitted ||auth.userUid == host">
                <div *ngIf="!answerSubmitted">Submit</div>
                <div *ngIf="answerSubmitted">Answer Submitted</div>
              </button>
            </form>
            <br/>
            <div *ngIf="liveQuestion.answers">
                <div *ngIf="liveQuestion.answers.length > 0 && liveQuestion.type == 'openText'">
                    <div matTooltip="Overall sentiment score: {{liveQuestion.sentiment.score}}">Overall Sentiment: {{sentimentAssessment}}</div>
                    <button mat-stroked-button (click)="sortSentiment()">Sort by sentiment</button>
                    <div class="written-answers-block light-margin">
                        <div *ngFor="let ans of liveQuestion.answers">
                            <mat-card class="light-margin">
                              "{{ans.responce[0]}}" 
                              <div *ngIf="ans.sentiment">
                                  <div matTooltip="Sentiment score: {{ans.sentiment.score}}" *ngIf="ans.sentiment.score > 5" class="sentiment-emoji">❤️</div>
                                  <div matTooltip="Sentiment score: {{ans.sentiment.score}}" *ngIf="ans.sentiment.score > 1 && ans.sentiment.score <= 5" class="sentiment-emoji">👍</div>
                                  <div matTooltip="Sentiment score: {{ans.sentiment.score}}" *ngIf="ans.sentiment.score < -1 && ans.sentiment.score >= -5" class="sentiment-emoji">👎</div>
                                  <div matTooltip="Sentiment score: {{ans.sentiment.score}}" *ngIf="ans.sentiment.score < -5" class="sentiment-emoji">😡</div>
                              </div>
                            </mat-card>
                          </div>
                    </div>
                  </div>
                  <div style="display: block;" *ngIf="liveQuestion.answers.length > 0 && liveQuestion.type != 'openText'">
                      <canvas baseChart 
                        [datasets]="barChartData"
                        [legend]="barChartLegend"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [chartType]="barChartType">
                      </canvas>
                  </div>
            </div>
            
        </div>  
      
      </div>
      <br/>
</mat-sidenav-container>