<mat-sidenav-container class="portal-container">
    <mat-sidenav #sidenav position="end" class="my-side-nav-right" [opened]="screenWidth > 960 && auth.userUid == host" [mode]="(screenWidth > 960) ? 'side' : 'over'">
        <app-question-container class="" [questions]="questions" [liveQuestion]="liveQuestion" [survOneTime]="survOneTime" [hostPlan]="hostPlan"></app-question-container>
    </mat-sidenav>
    <div *ngIf="auth.userUid == host" [ngStyle]="{'display' : (screenWidth > 960) ? 'none' : 'block'}">
      <div class="side-menu-button" (click)="sidenav.open()"><mat-icon>menu</mat-icon>Questions</div>
    </div>
    <div class="container head-room thin-sides center max600" *ngIf="surv">
        <h2>{{surv.title}}</h2>
        <h3 *ngIf="surv.shortCode">Sharing Code: {{surv.shortCode}}</h3>
        <h6 *ngIf="auth.userUid == host">or send direct link:   www.vybesurvey.com/survey/{{surv.url}}</h6>
        <h5>Active Participants: {{userCount}}</h5>
        <mat-divider *ngIf="auth.userUid != host"></mat-divider>
        <div *ngIf="auth.userUid == host && vibeChartData.length > 0" class="vibe-block flex full">
            <div style="display: block;" class="three-fourths">
                <canvas baseChart 
                  [datasets]="vibeChartData"
                  [labels]="lineChartLabels"
                  [legend]="barChartLegend"
                  [colors]="lineChartColors"
                  [options]="lineChartOptions"
                  [chartType]="lineChartType">
                </canvas>
            </div>
            <div class="fourth center">
              <h2 class="no-margin">Vybe</h2>
              <div class="vibe-number" [ngClass]="{green: surv.combinedRating > 0, red: surv.combinedRating < 0}">{{surv.combinedRating / userCount | number:'1.0-1'}}</div>
            </div>
        </div>
      <h5 *ngIf="auth.userUid != host">The Vybe Meter</h5>
        <div *ngIf="auth.userUid != host" class="flex center space-center">
          <mat-icon>sentiment_very_dissatisfied</mat-icon>
          <mat-slider min="-5" max="5" step="1" value="0" tickInterval="0" (change)="sendRatingUpdate($event)" class="slider"></mat-slider>
          <mat-icon>sentiment_very_satisfied</mat-icon>
        </div>
        <h6 *ngIf="auth.userUid != host">Use this to discreetly and anonymously give feedback to the presenter.  Move left when you are lost, confused, disagree, etc.  Move right when you get it, agree, are happy, etc.</h6>
        <br/>
        <mat-divider></mat-divider><br/>
      
        <div *ngIf="liveQuestion" id="liveQuestion" class="full left">
            <button *ngIf="auth.userUid == host" mat-icon-button type="button" (click)="removeLiveQuestion()" aria-label="close" class="stick-top-right-relative">
                <mat-icon>close</mat-icon>
            </button>
          <h3>{{liveQuestion.question}}</h3>
            <form *ngIf="liveQuestion.type == 'openText'" [formGroup]="userQuestionForm" (ngSubmit)="submitUserOpenTextAnswer(userQuestionForm.value)">
                <mat-form-field appearance="outline" class="full">
                  <mat-label>Response</mat-label>
                  <input matInput formControlName="response">
                </mat-form-field>
                <button mat-raised-button class="action-button full" type="submit" [disabled]="userQuestionForm.invalid || answerSubmitted ||auth.userUid == host">
                  <div *ngIf="!answerSubmitted && auth.userUid != host">Submit</div>
                  <div *ngIf="!answerSubmitted && auth.userUid == host"><i>Submit is disabled as you are the host</i></div>
                  <div *ngIf="answerSubmitted">Answer Submitted</div>
                </button>
            </form>
      
            <form *ngIf="liveQuestion.type == 'multiChoice' && !liveQuestion.multiSelect" [formGroup]="userChoiceQuestionForm" (ngSubmit)="submitUserMultiChoiceAnswer(userChoiceQuestionForm.value)">
              <mat-radio-group formControlName="options">
                <div  *ngFor="let op of liveQuestion.options">
                    <mat-radio-button [value]="op">{{op}}</mat-radio-button><br/>
                </div>
              </mat-radio-group><br/>
              <button mat-raised-button class="action-button full" type="submit" [disabled]="userChoiceQuestionForm.invalid || answerSubmitted ||auth.userUid == host">
                  <div *ngIf="!answerSubmitted && auth.userUid != host">Submit</div>
                  <div *ngIf="!answerSubmitted && auth.userUid == host"><i>Submit is disabled as you are the host</i></div>
                <div *ngIf="answerSubmitted">Answer Submitted</div>
              </button>
            </form>
      
            <form *ngIf="liveQuestion.type == 'multiChoice' && liveQuestion.multiSelect" [formGroup]="userChoiceMultiQuestionForm" (ngSubmit)="submitUserMultiChoiceMultiAnswer(userChoiceMultiQuestionForm.value)">
              <div formArrayName="choices">
                <div *ngFor="let op of liveQuestion.options; let i=index">
                  <mat-checkbox [formControlName]="i" (change)="noItemSelected()">{{op}}</mat-checkbox>
                </div>
              </div><br/>
              <button mat-raised-button class="action-button full" type="submit" [disabled]="!pickedAnOption || answerSubmitted ||auth.userUid == host">
                  <div *ngIf="!answerSubmitted && auth.userUid != host">Submit</div>
                  <div *ngIf="!answerSubmitted && auth.userUid == host"><i>Submit is disabled as you are the host</i></div>
                <div *ngIf="answerSubmitted">Answer Submitted</div>
              </button>
            </form>
            <br/>
            <br/>
            <h3>Results</h3>
            <div *ngIf="liveQuestion.answers" class="full-length">
                <div *ngIf="liveQuestion.answers.length > 0 && liveQuestion.type == 'openText'">
                  <div class="flex space-center">
                    <div matTooltip="Overall sentiment score: {{liveQuestion.sentiment.score}}">Overall Sentiment: {{sentimentAssessment}}</div>
                    <button mat-stroked-button (click)="sortSentiment()">Sort by sentiment</button>
                  </div>  
                    <div class="written-answers-block? light-margin">
                        <div *ngFor="let ans of liveQuestion.answers">
                            <mat-card class="light-margin">
                              "{{ans.responce[0]}}" 
                              <div>
                                  <div matTooltip="Sentiment score: {{ans.sentiment.score}}" *ngIf="ans.sentiment.score > 5" class="sentiment-emoji">❤️</div>
                                  <div matTooltip="Sentiment score: {{ans.sentiment.score}}" *ngIf="ans.sentiment.score > 1 && ans.sentiment.score <= 5" class="sentiment-emoji">👍</div>
                                  <div matTooltip="Sentiment score: {{ans.sentiment.score}}" *ngIf="ans.sentiment.score < -1 && ans.sentiment.score >= -5" class="sentiment-emoji">👎</div>
                                  <div matTooltip="Sentiment score: {{ans.sentiment.score}}" *ngIf="ans.sentiment.score < -5" class="sentiment-emoji">😡</div>
                              </div>
                            </mat-card>
                          </div>
                    </div>
                  </div>
                  <div style="display: block;" *ngIf="liveQuestion.answers.length > 0 && liveQuestion.type != 'openText'">
                      <canvas baseChart 
                        [datasets]="barChartData"
                        [legend]="barChartLegend"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [chartType]="barChartType">
                      </canvas>
                  </div>
            </div>
            
        </div>  
      <br/>
      <br/>
      <div class="center" *ngIf="(!auth.afAuth.auth.currentUser || auth.afAuth.auth.currentUser.isAnonymous)"><a class="no-style-black" [routerLink]="['/about']" target="_blank">What is Vybe Survey?</a></div>
      <br/>
      </div>
      <br/>
</mat-sidenav-container>