<mat-card class="">
  <button mat-icon-button type="button" (click)="closeNoSave()" aria-label="close" class="stick-top-right">
      <mat-icon>close</mat-icon>
  </button>
  <div class="container head-room">
    <div class="full center">
      <h4 class="full">Multiple Choice Question</h4>
    </div>
    <br/>
    <form [formGroup]="newMCquesetionForm" (ngSubmit)="createQuestion(newMCquesetionForm.value)">
        <mat-form-field appearance="outline" class="full">
          <mat-label>Question</mat-label>
          <input matInput formControlName="question">
          <mat-error *ngIf="question.hasError('required')">
            Question is <strong>required</strong>
          </mat-error>
        </mat-form-field>
  
        <div formArrayName="choices">
          <h5><b>Options</b></h5> 
          <div *ngFor="let address of choices.controls; let i=index">
            <!-- The repeated alias template -->
            <mat-form-field appearance="outline" class="full">
              <mat-label>Option {{i + 1}}</mat-label>
              <input matInput [formControlName]="i">
              <button *ngIf="choices.length > 2" matSuffix mat-icon-button type="button" (click)="removeChoice(i)" aria-label="delete" class="">
                  <mat-icon>delete</mat-icon>
              </button>
              
              <mat-error *ngIf="question.hasError('required')">
                Option can not be <strong>blank</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="flex space-between">
          <button mat-flat-button type="button" (click)="addChoice()" color="primary">Add Option</button>
          <mat-slide-toggle
            class=""
            color="primary"
            [checked]="allowMultiSelection"
            (change)="toggleMultiSelect($event)">
            Allow Multiple Selection
          </mat-slide-toggle>
        </div>
        <br/>
        <button mat-raised-button class="action-button full" type="submit" [disabled]="newMCquesetionForm.invalid"><div>Create</div></button>
      </form>
  </div>
  <br/>
</mat-card>