//Define main color scheme
$primary: #2979ff;
$dark: #004ecb;
$light: #75a7ff;

$secondary: #dadada;
$secondary-light: #ffffff;
$secondary-dark: #a8a8a8;

$shade: #f8f8f8;

$success: #5FAD56;
$warning: #F2C14E;
$danger: #F15025;
$info: #525f7e;
$disabled: #c0bdc8;

$text: #fff;
$text-dark: rgb(36, 36, 36);
$font-weight: 200;

$margin: 10px;

$container: 10%;
