//Define main color scheme
$primary: #38250E;
$dark: #190000;
$light: #644d34;

$secondary: #bdbdbd;
$secondary-light: #efefef;
$secondary-dark: #8d8d8d;

$shade: #f8f8f8;

$success: #5FAD56;
$warning: #F2C14E;
$danger: #F15025;
$info: #525f7e;
$disabled: #c0bdc8;

$text: #fff;
$text-dark: rgb(36, 36, 36);
$font-weight: 200;

$margin: 10px;

$container: 10%;
